main{
  border-radius: 14px;
  border: 1px solid $themeColor;
  background-color: #D3D3D3;
  padding: 10px;
  color: $themeColor;
  text-align: center;
  outline: 5px solid $themeColor;
  outline-offset: 5px;
  width: 50%
}
